<?php include(__DIR__ . '/../header.html'); ?>
<?php $user = $params['user'];?>
<div class="container">
    <div class="page-header">
        <h3>Это ваша страница, <?= $user->getFirstname()?></h3>
    </div>
    <h4>Имя: <?= $user->getFirstname() ?></h4>
    <h4>Фамилия: <?= $user->getLastname() ?></h4>
    <h4>Email: <?= $user->getEmail() ?></h4>

    <div class="row">
        <?php if ($user->getContacts()): ?>
        <div class="col-md-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Контакты</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($user->getContacts() as $contact):?>
                <tr>
                    <td><?= $contact->getType() ?></td>
                    <td><?= $contact->getValue() ?></td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php endif; ?>
        <?php if ($user->getBooks()): ?>
        <div class="col-md-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Книги</th>
                    <th>Автор</th>
                    <th>Описание</th>
                    <th>Рейтинг</th>
                    <th>Категория</th>
                    <th>Ссылка</th>
                </tr>
                </thead>
                <tbody>
                <?php foreach($user->getBooks() as $book):?>
                <tr>
                    <td><?= $book->getName() ?></td>
                    <td><?= $book->getAuthor() ?></td>
                    <td><?= $book->getDescription() ?></td>
                    <td><?= $book->getRating() ?></td>
                    <td><?= $book->getCategory()->getName() ?></td>
                    <td><a href="<?= $book->getLink() ?>"><span class="glyphicon glyphicon-link"></span></a></td>
                </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php endif; ?>
    </div>
    <div>
        <a style="font-size: large" href="/user/show/?id=<?= $user->getId()?>">Изменить свои данные</a>
    </div>
</div>

<?php include(__DIR__ . '/../footer.html'); ?>
