<?php include(__DIR__ . '/../header.html'); ?>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a href="<?= (isset($_GET['idUser']))? '/user/list' : '/user' ?>"><span
                    class="glyphicon glyphicon-chevron-left"></span></a>
        </div>
        <div class="col-md-5">
            <?php if ($params['user']->getContacts()): ?>
            <table class="table">
                <thead>
                <tr>
                    <th>Контакты</th>
                    <?php if (isset($params['errors']) && !empty($params['errors']['contact'])): ?>
                    <span class="help-block"><?= $params['errors']['contact'] ?></span>
                    <?php endif; ?>
                </tr>
                </thead>
                <tbody>

                <?php if(!isset($params['contacts'])){
                    $params['contacts'] = $params['user']->getContacts();
                }?>
                <?php if($params['contacts']): ?>
                    <?php foreach($params['contacts'] as $contact):?>
                    <tr>
                        <td><?= $contact->getType() ?></td>
                        <td><?= $contact->getValue() ?></td>
                        <td>
                            <a href="/contacts/show-contact/?contact_id=<?= $contact->getId() ?>&user_id=<?= $params['user']->getId() ?>">
                                <button type="submit"><span class="glyphicon glyphicon-pencil"></span></button>
                            </a>
                        </td>
                        <td>
                            <a href="/contacts/delete-contacts-data?contact_id=<?= $contact->getId() ?>&user_id=<?= $params['user']->getId() ?>">
                                <button type="submit"><span class="glyphicon glyphicon-trash"></span></button>
                            </a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                <?php endif; ?>

                </tbody>
            </table>
            <?php endif; ?>
            <form class="form-signin" action="/contacts/add-contact?user_id=<?= $params['user']->getId() ?>"
                  method="post">
                <legend>Тип контакта</legend>
                <div class="form-group <?= (isset($params['errors']['type']) && !empty($params['errors']['type'])) ? 'has-error' : ''; ?>">
                    <?php if (isset($params['errors']['type']) && !empty($params['errors']['type'])): ?>
                    <span class="help-block"><?= $params['errors']['type'][0] ?></span>
                    <?php endif; ?>
                    <select class="form-control" name="contact_type" required>
                        <option selected disabled>Выберите тип контакта</option>
                        <option name="contact_type" value="<?= Bookshelf\Model\Contact::SKYPE_TYPE ?>">Skype
                        </option>
                        <option name="contact_type" value="<?= Bookshelf\Model\Contact::EMAIL_TYPE ?>">Email
                        </option>
                        <option name="contact_type" value="<?= Bookshelf\Model\Contact::PHONE_TYPE ?>">Телефон
                        </option>
                    </select>
                </div>
                <div class="form-group <?= (isset($params['errors']['value']) && !empty($params['errors']['value'])) ? 'has-error' : ''; ?>">
                    <?php if (isset($params['errors']['value']) && !empty($params['errors']['value'])): ?>
                    <span class="help-block"><?= $params['errors']['value'][0] ?></span>
                    <?php endif; ?>
                    <input type="text" class="form-control" placeholder="Значение" name="value" required/>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Add">Добавить
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <form class="form-signin" action="/user/change-user-data" method="post">
                <legend>Персональные данные</legend>

                <div class="form-group <?= (isset($params['errors']) && !empty($params['errors']['firstname'])) ? 'has-error' : ''; ?>">
                    <label class="control-label" for="firstname">Имя</label>
                    <?php if (isset($params['errors']) && !empty($params['errors']['firstname'])): ?>
                    <span class="help-block"><?= $params['errors']['firstname'][0] ?></span>
                    <?php endif; ?>
                    <input type="text" id="firstname" class="form-control" placeholder="Имя" name="firstname"
                           value="<?= $params['user']->getFirstname() ?>" required/>
                </div>

                <div class="form-group <?= (isset($params['errors']) && !empty($params['errors']['lastname'])) ? 'has-error' : ''; ?>">
                    <label class="control-label" for="lastname">Фамилия</label>
                    <?php if (isset($params['errors']) && !empty($params['errors']['lastname'])): ?>
                    <span class="help-block"><?= $params['errors']['lastname'][0] ?></span>
                    <?php endif; ?>
                    <input type="text" id="lastname" class="form-control" placeholder="Фамилия" name="lastname"
                           value="<?= $params['user']->getLastname()?>" required/>
                </div>

                <div class="form-group <?= (isset($params['errors']) && !empty($params['errors']['email'])) ? 'has-error' : ''; ?>">
                    <label class="control-label" for="email">Email</label>
                    <?php if (isset($params['errors']) && !empty($params['errors']['email'])): ?>
                    <span class="help-block"><?= $params['errors']['email'][0] ?></span>
                    <?php endif; ?>
                    <input type="email" id="email" class="form-control" placeholder="Email" name="email"
                           value="<?= $params['user']->getEmail()?>" required/>
                </div>

                <label>Вы можете изменить свой пароль, или же оставьте эти поля пустыми</label>

                <div class="form-group <?= (isset($params['errors']) && !empty($params['errors']['password'])) ? 'has-error' : ''; ?>">
                    <label class="control-label" for="password">Пароль</label>
                    <?php if (isset($params['errors']) && !empty($params['errors']['password'])): ?>
                    <span class="help-block"><?= $params['errors']['password'][0] ?></span>
                    <?php endif; ?>
                    <input type="password" id="password" class="form-control" placeholder="Пароль" name="password"/>
                </div>

                <div class="form-group">
                    <label class="control-label" for="confirm_password">Подтвердите пароль</label>
                    <input type="password" id="confirm_password" class="form-control" placeholder="Потвердите пароль"
                           name="confirm_password"/>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Registration">
                    Сохранить
                </button>
            </form>
        </div>
    </div>
</div>

<?php include(__DIR__ . '/../footer.html'); ?>
