body > .container {
    padding-top: 80px;
    padding-bottom: 70px;
}

.bookshelf-footer {
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
}

.bookshelf-search {
    margin-bottom: 50px;
    text-align: center;
}

.bookshelf-table {
    border: 1px solid #ddd;
}

.bookshelf-table td {
    border: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
}

.bookshelf-table thead > th {
    background-color: #000000;
}

.bookshelf-table th {
    background-color: #f5f5f5;
}

table.bookshelf-table td:nth-of-type(2n+1) {
    padding-left: 20px !important;
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.twitter-typeahead {
    display: block !important;
}

#bookshelf-user {
    padding-top: 15px;
    color: #fff;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;

}
.form-signin input[type="text"] {
    margin-bottom: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

span.glyphicon-chevron-left {
    font-size: 3em;
}
