RewriteEngine On
RewriteBase /

# Rewrite URI like website.com/controller/action
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9-_]+)/?$ ?c=$1&a=$2 [L,NC,END,QSA]

# Rewrite URI like website.com/controller or website.com
# Attention DO NOT USE 'index' on controller place apache didn't see this
RewriteRule ^([a-zA-Z0-9]+)/?$ ?c=$1 [L,NC,END,QSA]

# Error catcher
ErrorDocument 404 /error/notfound

